{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<!-- REGISTRATION FORM -->

<main class="container">
  <section class="row justify-content-center">
      <div
      class="col-11 col-md-6 col-lg-5 col-xl-4 p-5 mb-5 card-welcome border border-dark border-2 rounded-3 justify-content-center">
      <div class="col-md-8 mt-3 offset-md-2">
          <form method="POST" action="{% url 'account_signup' %}">
              <h3>Create Account</h3>
              {% csrf_token %}
              {% for field in form %}
              <label class="label">{{field.label}}</label>
              {{field}}
              
              {% for error in field.errors %}
              <br>
              <small style="color: red;"><b>**{{error}}**</b></small>
              <br>
              {% endfor %}
              
              {% endfor %}
              <input type="submit" value="Sign Up" class="btn btn-light">
              <hr>
              <p>Already have an account? <br> Sign in here...</p>
              
              <a class="btn btn-light" href="{% url 'account_login' %}">Log In</a>
          </form>
      </div>
    </div>
  </section>
</main>

<!-- REGISTRATION FORM -->

{% endblock %}
