/*-- GENERAL BODY/HTML --*/

body {
    background-color: #F9FAFC;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #141414;
}

.main-bg {
    background-color: #F9FAFC;
}


/*-- FOOTER --*/

img.footer-logo {
    width: 90px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1% 2%;
    padding: 0 1%;
    color: #DADAD2;
}