/*-- GENERAL BODY --*/
body {
    background-color: #F9FAFC;
}

.btn {
    background-color: #e6b265;
    border: 1px solid #141414;
    box-shadow: 2px 3px 10px 2px #141414;
    color: #141414;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: #141414;
    color: #e7d3b5;
}

/*-- NAVIGATION --*/
img.logo {
    width: 130px;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #141414;
}

.main-bg {
    background-color: #F9FAFC;
}


/*-- HERO SECTION --*/
.home-image {
    background-image: url(https://res.cloudinary.com/dcydt01ed/image/upload/v1691714279/wallpaperflare.com_wallpaper_5_g6fjwv.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    position: relative;
    color: #fff;
}

.hero-text,
.hero-text h1,
.hero-text p {
    position: relative;
    z-index: 1;
    text-align: center;
}

.main-text {
    background-color: rgba(36, 35, 35, 0.5);
    padding: 40px;
}


/*-- ABOUT US SECTION --*/
.carousel-inner {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.9);
}

.carousel-item img {
    height: 350px;
    width: 100%;
    object-fit: cover;
}


/*-- BLOG.HTML --*/
.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color:#e6b265;
}

.author {
    margin: 4px;
}

.post-link {
    text-decoration: none;
    color: #141414;
}


/*-- FOOTER --*/
img.footer-logo {
    width: 90px;
}

.social-networks i {
    color: #DADAD2;
}

.login-form {
    margin-top: 10rem;
}


/*-- LOGIN/REGISTER FORMS --*/
.card-welcome {
    margin-top: 4rem;
    background-color: #e7d3b5;
    box-shadow: 5px 5px 8px 4px;
    text-align: center;
}


/*-- POST DETAIL --*/
.masthead {
    margin-top: 10px;
    overflow: hidden;
}

.masthead-text {
    background-color: #e6b265;
    color: b#141414;
}

.post-title {
    margin-top: 5%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #141414;
}


.btn-like {
    color: #f3140c;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #f3140c;
    background: transparent;
    border: none;
}


/*-- FORMS --*/
.card-title {
    margin-bottom: 30px;
}

.form-style {
    margin-top: 40px;
    max-width: 800px;
}

.post-card {
    margin-top: 4rem;
    background-color: #e7d3b5;
    box-shadow: 5px 5px 8px 4px;
    text-align: center;
}


/*-- EDIT POST FORM --*/
.post-edit {
    background-color: #e7d3b5;
    border: 1px solid #141414;
    box-shadow: 2px 3px 10px 2px #141414;
    color: #141414;
    margin-top: 4rem;
}


/*-- DELETE POST FORM --*/
.delete-message {
    color: #c00903;
}

