/*-- GENERAL BODY/HTML --*/

body {
    background-color: #F9FAFC;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #141414;
}

.main-bg {
    background-color: #F9FAFC;
}


/*-- FOOTER --*/

img.footer-logo {
    width: 90px;
}