{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load static % }

{% block content %}


<div class="container form-style">
    <div class="p-5 mb-5 card-welcome border border-dark border-2 rounded-3 justify-content-center">
        <h1 class="card-title">Your Profile</h1>
            <form method="post" enctype="multipart/form-data">
            <!-- User Image -->
            {% if user.profile.image %}
            <img class="profile-pic-form rounded" src="{{ user.profile.image.url }}" alt="User Image" width="100%">
            {% else %}
            <img class="profile-pic-form rounded" src="https://res.cloudinary.com/dcydt01ed/image/upload/v1692970959/default_zitnfg.png" alt="User Image" width="100%">
            {% endif %}
            <!-- Username -->
            <div class="form-group ">
                <label>Username:</label>
                {{ user_form.username }}
            </div>
            <!-- Profile Form -->
                {% csrf_token %}
                {{ profile_form | crispy }}
            <div><button class="btn btn-light">Update profile</button></div>
            <a class="btn btn-light" href="{% url 'create_post' %}" role="button">Create Post</a>
    </div>
            </form>
</div>

{% endblock %}