{% extends 'base.html' %}

{% load static % }

{% block content %}


<!-- DELETE POST TEMPLATE -->
<div class="container">
    <div class="row justify-content-center">
      <div class="col-11 col-md-6 col-lg-5 col-xl-4 p-5 mb-5 card-welcome border border-dark border-2 rounded-3 justify-content-center">
        <form method="POST">
        <h3 class="text-center">Would you like to delete "{{ post.title }}"?</h3>
            <br>
            {% csrf_token %}
            <strong>All data of this post will be permanently deleted!</strong>
            <br/>
            <button class="btn">Delete Post</button>
        </form>
        </div>
    </div>
</div>

{% endblock %}