{% extends 'base.html' %}
{% load static % }
{% block content %}

<!-- Hero Section -->
<section class="home-image jumbotron-overlay jumbotron-fluid py-md-5 d-flex align-items-center">
    <div class="container d-flex justify-content-center">
      <div class="hero-text text-center text-wrap main-text">
        <h1 class="lead display-1 fs-1">Welcome to our WeLoveDogs Blog!</h1>
        <p class="fs-4">A community build around the love for all breed of dogs.</p>
        <a class="btn btn-light btn-lg" href="#" role="button">Join Us</a>
      </div>
    </div>
  </section>

  <div class="text-center">
    <blockquote class="blockquote">
      <p>"The world would be a nicer place if everyone had the ability to love as unconditionally as a dog."</p>
    </blockquote>
    <figcaption class="blockquote-footer">
    <cite title="Source Title">- M.K.Clinton</cite>
    </figcaption>
  </div>
  <!-- Hero Section -->
  
  <!-- Page Divider -->
  <div class="container">
    <hr class="my-4">
  </div>
  <!-- Page Divider -->
  
  <!-- About Us Section -->
  <section class="py-3 text-center">
    <div class="container px-4">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-6 mb-4 mb-lg-0 gx-5">
          <div id="about-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#about-carousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Carousel Photo 1"></button>
              <button type="button" data-bs-target="#about-carousel" data-bs-slide-to="1" aria-label="Carousel Photo 2"></button>
              <button type="button" data-bs-target="#about-carousel" data-bs-slide-to="2" aria-label="Carousel Photo 3"></button>
            </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="https://res.cloudinary.com/dcydt01ed/image/upload/v1691971802/344352_qcyfzo.jpg" alt="GermanShepherd">
                </div>
                <div class="carousel-item">
                  <img src="https://res.cloudinary.com/dcydt01ed/image/upload/v1691972094/1309697_rckiye.jpg" alt="DogInThenow">
                </div>
                <div class="carousel-item">
                  <img src="https://res.cloudinary.com/dcydt01ed/image/upload/v1691972045/1290181_ebkeda.jpg" alt="ChristmasDog">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#about-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#about-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-3">
              <h2 class="display-6">About Us</h2>
              <p>Hello, fellow puppy lovers!
                  If you are the proud parent of adorable pooch and love sharing about your dog’s delightful moments, we are the perfect community for you!
                  We are members of a pack of people who love dogs, know about dogs, and love sharing the dog life with each other. Life with dogs is rich, and the richness of life grows richer when it is shared.
                  </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!-- About Us Section -->
  
  <!-- Page Divider -->
  <div class="container">
    <hr class="my-4">
  </div>
  <!-- Page Divider -->
  
  <!-- Card Section for Builds -->
  <section class="py-1">
    <div class="container align-items-center justify-content-center">
      <div class="row">
        <div class="col-md-4 py-3">
          <div class="card card-home h-100">
            <img class="card-img-index card-image" src="static/images/cute_dog.jpg" alt="Share">
            <div class="card-body">
              <h3 class="card-title fw-bold">Share</h3>
                <p class="card-text">Share original photo and a story of YOUR dog and brighten someone’s day with his/her adorable antics!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 py-3">
          <div class="card card-home h-100">
            <img class="card-img-index card-image" src="static/images/small_dog.jpg" alt="Learn">
            <div class="card-body">
              <h3 class="card-title fw-bold">Learn</h3>
              <p class="card-text">Get regular tips and tricks about dog care, obedience training, canine enrichment and recipes for dogs.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 py-3">
          <div class="card card-home h-100">
            <img class="card-img-index card-image" src="static/images/people_and_dogs.jpg" alt="Interact">
            <div class="card-body">
              <h3 class="card-title fw-bold">Interact</h3>
              <p class="card-text">Connect and engage with other dog owners in a positive and respectful environment.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Card Section for Builds -->
  
  <!-- Page Divider -->
  <div class="container">
    <hr class="my-4">
  </div>
  <!-- Page Divider -->
  
  {% endblock %}